.fondoItem{
    background-color: #0aec0a;
    height: 130px;
    border-radius: 20px;
    color: white;
}


.estiloNumero{
    font-size: 32px;
    font-weight:800;
    margin-top: -30px;
}

.cm{
    font-size:16px;
    font-weight:400;
    margin-left:-10px;
}


.sexo{
    font-size: 40px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.form-range{
    padding: 0px 20px;
}

input[type=range]::-webkit-slider-thumb {
    background: #FF3366; 
}

.sumaResta {
    cursor:pointer;
    background-color: #FF4CA4;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}

.sexoDesactivo {
    background-color: #15db2fad;
}